#container {
    display: grid;
    grid-template-rows: 15vh 85vh;
    background-color: lightgray;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#header {
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 55vw;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
}

button {
    background-color: aqua;
    border-radius: 1.2vw;
    border-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

#main {
    padding: 1vw;
    display: grid;
    grid-template-rows: repeat(auto-fit, 10vh);
}

.book {
    padding: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}